{% extends "snippet.html" %}

{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>ADD RECIPE :</h3>
        <div class="mb-3">
            <label class="form-label">Recipe Name : </label>
            <input type="text" required class="form-control" name="recipe_name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Description : </label>
            <textarea class="form-control" name="recipe_desc" id=""></textarea>
        </div>
        <div class="mb-3 ">
            <label class="form-label">Recipe Image : </label>
            <input type="file" class="form-control" name="recipe_img">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
    <table class="table mt-5">
        <thead>
            <tr>
                <th>No.</th>
                <th>Recipe Name</th>
                <th>Recipe Description</th>
                <th>Recipe Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in recipe %}
            <tr>
                <th>{{forloop.counter}}</th>
                <td>{{i.recipe_name}}</td>
                <td>{{i.recipe_desc}}</td>
                <td>
                    {% if i.recipe_img %}
                        <img src="{{ i.recipe_img.url }}" alt="{{ i.recipe_name }}" style="height: 100px;">
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'delete_recipe' i.id %}" style="color: red;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Octicons by GitHub - https://github.com/primer/octicons/blob/main/LICENSE --><path fill="currentColor" d="M16 1.75V3h5.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H8V1.75C8 .784 8.784 0 9.75 0h4.5C15.216 0 16 .784 16 1.75m-6.5 0V3h5V1.75a.25.25 0 0 0-.25-.25h-4.5a.25.25 0 0 0-.25.25M4.997 6.178a.75.75 0 1 0-1.493.144L4.916 20.92a1.75 1.75 0 0 0 1.742 1.58h10.684a1.75 1.75 0 0 0 1.742-1.581l1.413-14.597a.75.75 0 0 0-1.494-.144l-1.412 14.596a.25.25 0 0 1-.249.226H6.658a.25.25 0 0 1-.249-.226z"/><path fill="currentColor" d="M9.206 7.501a.75.75 0 0 1 .793.705l.5 8.5A.75.75 0 1 1 9 16.794l-.5-8.5a.75.75 0 0 1 .705-.793Zm6.293.793A.75.75 0 1 0 14 8.206l-.5 8.5a.75.75 0 0 0 1.498.088l.5-8.5Z"/></svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock start %}