{% extends "snippet.html" %}

{% block start %}
<div class="container mt-5">
    <form class = 'col-6 mx-auto card p-3 shadow-lg' method="post">
        <h3>ADD RECIPE :</h3>
        <div class="mb-3">
            <label  class="form-label">Recipe Name : </label>
            <input type="text" class="form-control" name="recipe_name">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Recipe Description : </label>
            <textarea  class="form-control" name="recipe_desc" id=""></textarea>
        </div>
        <div class="mb-3 ">
            <label class="form-label">Recipe Image : </label>
            <input type="file" class="form-control" name="recipe_img">
        </div>
        <button type="submit" class="btn btn-success">Add Recipe</button>
    </form>
</div>
{% endblock start %}